{%extends "templates/base.html" %}
{% block content %}
	<p>
		This page is the reviews section of my web portfolio.  I read a lot and write reviews of what I read. This is to inform you of some modern day homo sapien fictional and non-fictional ideas/creations. OccasionalLy there may be reviews of gadgets that homo sapiens in day to day life. You may not find this section interesting or useful so I encourage you to watch cat videos on another page of my web portfolio.</p>

		<p>Check out the calendar on the side to know what I reading.</p>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
  <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
</div>
		
	{% endblock %}